body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    margin: 0;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

#game {
    background-color: #ffffffb0;
    padding: 20px;

    border-radius: 10px;
    box-shadow: 0 0 10px #00000072;
}

.background-phong-khach {
    background-image: url('images/phong-khach.jpg');
}

.background-phong-ngu {
    background-image: url('images/phong-ngu.jpg');
}

.background-nha-bep {
    background-image: url('images/nha-bep.jpg');
}

.background-phong-an {
    background-image: url('images/phong-an.jpg');
}

.background-kho {
    background-image: url('images/kho.jpg');
}

.background-san-vuon {
    background-image: url('images/san-vuon.jpg');
}

.background-gian-hang {
    background-image: url('images/gian-hang.jpg');
}

.background-xe {
    background-image: url('images/xe.jpg');
}

.background-sieu-thi {
    background-image: url('images/sieu-thi.jpg');
}

.background-farm {
    background-image: url('images/farm.jpg'); 
}

.background-nha-trang-trai {
    background-image: url('images/farmhouseroom.jpg');
}

.background-chuongtrai {
    background-image: url('images/chuongtrai.jpg');
}

.background-chuongbo {
    background-image: url('images/chuongbo.jpg');
}

#datetime {
    margin-bottom: 10px;
}

#location {
    margin-bottom: 20px;
}

#attributes {
    margin-bottom: 20px;
}

#navigation {
    margin-bottom: 20px;
}

#navigation button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 14px;
}

#actions {
    margin-bottom: 20px;
}

#actions button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 14px;
}

#items {
    margin-bottom: 20px;
}

#items button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 14px;
}
#version {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    color: #000;
}

/* modal cua changelog */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* modal2 cua inventory */
.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content2 {
    background-color: #fefefe;
    margin: 18% auto;
    padding: 40px;
    border: 1px solid #888;
    width: 30%;
    /* height: 40%; */
}
/* close2? */
/* .close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
} */

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Inventory Button Styles */
.inventory-button {
    font-size: 16px; /* Adjust the font size */
    padding: 10px 20px; /* Adjust the padding */
    margin: 5px; /* Adjust the margin */
    border: none;
    background-color: #4CAF50; /* Adjust the background color */
    color: white; /* Adjust the text color */
    cursor: pointer;
    border-radius: 5px; /* Adjust the border radius for rounded corners */
}

.inventory-button:hover {
    background-color: #45a049; /* Change background color on hover */
}

/* Modal style fish */
.modal4 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content4 {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 300px;
}

.directions {
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
}

.countdown {
    margin-top: 20px;
    font-size: 24px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.new-tab-link {
    display: inline-block;
    
    color: white;
    background-color: #23bd0f;
    text-decoration: none;
    transition: background-color 0.3s ease;
    
}

.new-tab-link:hover {
    background-color: #5b8b00;
}
